<form action = "/update/<%=@post.id %>" method = "post">
   강의실명 : <input type = "text" name = "classroom" value = <%=@post.classroom%>> <br>
   시간     : <input type = "text" name = "time" value = <%=@post.time%>> 
   <input type = "submit" name = "예약하기"/>
</form>
<br>
<a href='/show'> Back to Booking</a> 